.tab-container {
    margin: 1.4em 0px;
}

.tab-container > h6{
    font-weight: 600;
    display:inline-block;
    margin-right:1em;
    margin-bottom:1.2rem;
}

.tab-container small{
    overflow: hidden;
    font-size: .8em;
}

.tab-container .row-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.4em;
}


@media (max-width: 767px) {
    .tab-container .row-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}